# Archivos de compilación
bin/
obj/
Arysoft.ARI.NF48.Api/bin/
Arysoft.ARI.NF48.Api/obj/
*.exe
*.dll
*.pdb

# Archivos de configuración y caché de usuario
*.config
*.user
*.vs/
Arysoft.ARI.NF48.Api/*.vs/

# Paquetes y dependencias
packages/
*.nupkg

# Logs y datos temporales
*.log
*.cache
*.tmp

# Archivos generados por VS
.vscode/
.vs/
*.suo
*.userprefs

# Archivos de publicación y despliegue
publish/
app.publish/

# Ignorar información sensible y credenciales
secrets.json
appsettings.json